
.student-page {
    position: relative;
    display: flex;
    gap: 10px;
    height: 81vh;
    background: #423d31a6; /* Light yellow background */
    background-blend-mode: darken;
  }

  
  /* Student Actions */
  .student-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    margin-top: 200px;
  }
  
  .action-btn {
    background: #e76f51;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 200px;
    text-align: center;
  }
  
  .action-btn:hover {
    background: #d62828;
  }


  .stuTblAction{
    background-color: #fce7b2;;
  }

  .stuTblCal{
    background-color:#FF6347; /* Radial gradient from orange to tomato */
  }
  .stuTbl{
    border-color: #fce7b2;
  }

  .bg{
    background-color: #fce7b2;
  }



  .container2 {
    display: flex;
  }
  
  .left-section {
    width: 400px;
  }
  
  .right-section {
    width: 150%;
  }
  
  .bg{
    background: url('../images/img1.jpg') no-repeat center center fixed;
    background-size: cover;
  }